@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {

	/* Parallax styles thanks to keithclark.co.uk
	--------------------------------------------- */
	body {
		transform: translateZ(0);
	}
	.parallax {
		height: 500px;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-perspective: 300px;
		perspective: 300px;
	}

	.parallax__group {
		position: relative;
		height: 600px;
		height: 100vh;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	.down-link{
		position: absolute;
		bottom: 5%;
		color: #fff;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		text-align: center;
	}

	.parallax__layer {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.parallax__layer--fore {
		-webkit-transform: translateZ(90px) scale(.7);
		transform: translateZ(90px) scale(.7);
		z-index: 1;
	}

	.parallax__layer--base {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		z-index: 4;
	}

	.parallax__layer--back {
		-webkit-transform: translateZ(-300px) scale(2);
		transform: translateZ(-300px) scale(2);
		z-index: 3;
		/*margin-top: -80px;*/
	}

	.parallax__layer--deep {
		-webkit-transform: translateZ(-600px) scale(3);
		transform: translateZ(-600px) scale(3);
		z-index: 2;
	}
}

/*other styles
--------------------------------------------------*/
.parallax {
	height: 500px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.h100 {
	height: 100vh;
}

.w100 {
	width: 100vw;
}

body {
	font: 400 15px 'Open Sans', sans-serif;
	line-height: 1.8;
	color: #818181;
}
h2 {
	font-size: 24px;
	text-transform: uppercase;
	color: #303030;
	font-weight: 600;
	margin-bottom: 20px;
	letter-spacing: 3px;
}
h4 {
	font-size: 19px;
	line-height: 1.375em;
	color: #303030;
	font-weight: 400;
	margin-bottom: 20px;
}

#timeline h4 {
	font-size: 19px;
	line-height: 1.375em;
	color: #303030;
	font-weight: 400;
	margin-bottom: 5px;
}
.jumbotron.adwait {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	width: 100vw;
	z-index: -1;
	background-size: cover;
	background-color: #666;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	padding: 160px 30px;
	font-family: Montserrat, sans-serif;
	transition: none;
}

.jumbotron.fixed {
	position:fixed;
}

.overlay {
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
	background-image: none;
	background-color: #000;
	opacity: 0.3;
}

.container-fluid {
	padding: 60px 50px;
}
.bg-grey {
	background-color: #f6f6f6;
}
.bg-light {
	background-color: #fbfbfb;
}
.logo-small {
	color: #ee593e;
	font-size: 50px;
}
.logo {
	color: #ee593e;
	font-size: 200px;
}
.thumbnail {
	padding: 0 0 15px 0;
	border: none;
	border-radius: 0;
}
.thumbnail img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
	background-image: none;
	color: #ee593e;
}
.carousel-indicators li {
	border-color: #ee593e;
}
.carousel-indicators li.active {
	background-color: #ee593e;
}
.item h4 {
	font-size: 19px;
	line-height: 1.375em;
	font-weight: 400;
	font-style: italic;
	margin: 70px 0;
}
.item span {
	font-style: normal;
}
.panel {
	border: 1px solid #f6f6f6;
	border-radius:3px !important;
	transition: box-shadow 0.5s;
}
.panel:hover {
	box-shadow: 5px 5px 10px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
	border: 1px solid #ee593e;
	background-color: #fff !important;
	color: #ee593e;
}
.panel-heading {
	color: #fff !important;
	background-color: #ee593e !important;
	padding: 25px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.panel-footer {
	background-color: white !important;
}
.panel-footer h3 {
	font-size: 32px;
}
.panel-footer h4 {
	color: #aaa;
	font-size: 14px;
}
.panel-footer .btn {
	margin: 15px 0;
	background-color: #ee593e;
	color: #fff;
}
.navbar {
	margin-bottom: 0;
	background-color: transparent;
	z-index: 9999;
	border: 0;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
}

.navbar.solid {
	background-color: #ee593e !important;
	box-shadow: 0px 5px 10px 2px rgba(0,0,0, .4);
}
.navbar li a, .navbar .navbar-brand {
	color: #fff !important;
}

.navbar-brand{
	letter-spacing: 1px;
	font-style: 'Open Sans', sans-serif;
}
.navbar-nav li a:hover, .navbar-nav li.active a{
	background-color: #D84315 !important;
}
.navbar-nav li a {
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
}


.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:visited{
	border-color: transparent !important;
	color: #fff !important;
	border: none !important;
	background-color: transparent !important;
}
#contact p .fa {
	color: #ee593e;
}
.slideanim {visibility:hidden;}
.slide {
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
}
@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(70%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

@media screen and (max-width: 480px) {
	.logo {
		font-size: 150px;
	}
}

.social, .social:visited {
	font-size: 30px;
	line-height: 1.8;
	color: #818181;
	text-decoration: none;
}

.social:hover {
	color: #ee593e;
	text-decoration: none;
}
.navbar-collapse{
	border: none;
}

.btn {
	color: #ee593e;
}

.btn:hover {
	color: #D84315;
}

#about{
	-webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,.3);
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,.3);
}

a, a:visited {
	color: #D84315;
}

a:hover {
	color: #ee593e;
}

#contact {
	padding-top: 20px;
	padding-bottom: 5px;
	-webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,.3) inset;
	-moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,.3) inset;
	box-shadow: 0px 0px 7px 1px rgba(0,0,0,.3) inset;
}

.fine-print {
	font-size: 10px;
}

/*
Utility text classes
*/

.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width:768px) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}

@media (min-width:992px) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}

@media (min-width:1200px) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}
